@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/normalize";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/badges";
// @import "~materialize-css/sass/components/icons-materialize-design";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/forms/forms";

.LandingPage{
  section{
    padding: 20px auto;
  }
    
  .section-search{
    .col{
      padding:50px
    }
    h3{
      font-size: 3rem;
      font-weight: 400;
      padding-bottom: 10px;
    }

  }
    .section-search input {
        padding: 5px !important;
        font-size: 18px !important;
        width: 90% !important;
        border: #f4f4f4 3px solid !important;
      }
    
      .section-follow .fa-4x {
        margin: 5px 10px;
      }
}