.servivesmassage{
    background-image: url(https://img1.jjwalls.com/v/a/01/39/54/59/E300545021/240/home-design-mens-shaving-kit-on-black-background-jjwalls.com.jpg?u=6m6H5bmP1fWc18Xqw7391YjrFQCKc5qY);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(67, 45, 88);
    padding: 9%;
}
}