.servivesmassage{
    background-image: url(https://i.pinimg.com/originals/6d/3b/49/6d3b49479a42c3deb6c098b7662d8db0.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(67, 45, 88);
    padding: 9%;
    img{
        width: 80%;
        height: 80%;
    }
}
