.servivesmassage{
    background-image: url(https://previews.123rf.com/images/vicushka/vicushka1708/vicushka170800050/83487378-stack-of-spa-massage-stones-with-pink-flowers-and-towels-wellness-background-front-view-banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(67, 45, 88);
    padding: 9%;
}
