.servicesPage{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .location{
        padding: 0%;
        width:60%;
        margin:auto 
    }
    #botton{
        padding: 1px;
    }
    p{
        text-align: center;
        font-weight: bold;
        padding: 1%;
        
    }
    .pop{
        color:rgb(160, 51, 87);
        font-weight: 500%;
        font-size: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    .pro{
        color: purple;
        font-weight: bold;
    }
    ul li{
        float: left;
        width: 200px;
        height: 40px;
        line-height: 40px;
        opacity: .8;
        text-align: center;
        font-size: 20px;
        color: purple;
        text-decoration:purple ;
    }
    ul li a{
        text-decoration: rgb(209, 188, 230);
        color: palevioletred;
        display: block;
    }
    ul li a:hover{
        background-color: rgb(10, 2, 19);
    }
    ul li ul li{
        display: none;
    }
    ul li:hover ul li{
        display: block;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: rgba(156, 104, 152, 0.548);
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    .nav-links li{
        list-style: none;
    }
    .nav-links a{
        color: rgb(80, 47, 80);
        text-decoration:purple;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 15px;
    }
    .logo{
        color: purple;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    .burger div{
        width: 25px;
        height: 5px;
        background-color: black;
        margin: 3px;
    }
    .burger{
        display: none;
    }
    .form-wrapper{
        width: 0%;
        margin: auto;
        text-align: center;
   }
   img{
       width: 100%;
       height: 10%;
   }
    background-image: url(https://i.pinimg.com/originals/3d/55/bd/3d55bd9974f2d99c61ad802645445607.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;

    @media screen  and (max-width: width 1080px){
        display: none;
        .nav-links{
            width: 100%;
        }    
    }
    @media screen  and (max-width: width 768px){
        .servicesPage{
        overflow: hidden;
        }
        .nav-links{
            position:absolute;
            right: 0px;
            height: 92px;
            top: 8vh;
            background-color:rgb(80, 47, 80);
            display: flex;
            align-items: center;
            width: 50%;
            transform: translate(100%);
        }  
        .nav-link li{
            opacity: 0;
        }  
        .burger{
            display: block;
        }
    }
}