.servicesPage{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    p{
        text-align: center;
        font-weight: bold;
        
    }
    .pop{
        color:rgb(160, 51, 87);
        font-weight: 500%;
        font-size: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
    .pro{
        color: purple;
        font-weight: bold;
    }
    ul li{
        float: left;
        width: 200px;
        height: 40px;
        line-height: 40px;
        opacity: .8;
        text-align: center;
        font-size: 20px;
        color: purple;
        text-decoration:purple ;
    }
    ul li a{
        text-decoration: rebeccapurple;
        color: palevioletred;
        display: block;
    }
    ul li a:hover{
        background-color: rgb(10, 2, 19);
    }
    ul li ul li{
        display: none;
    }
    ul li:hover ul li{
        display: block;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: rgba(156, 104, 152, 0.548);
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    .nav-links li{
        list-style: none;
    }
    .nav-links a{
        color: rgb(80, 47, 80);
        text-decoration:purple;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 15px;
    }
    .logo{
        color: purple;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    .burger div{
        width: 25px;
        height: 5px;
        background-color: black;
        margin: 3px;
    }
    .burger{
        display: none;
    }
    .form-wrapper{
        width: 50%;
        margin: auto;
    }
    h1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 3000px;
    }
    #button{
        text-align: center
    }
   img{
        height: 460px;
        width: 460px;
        padding: 10%;
   }
   .services{
       text-align: center;
   }
    background-image: url(https://st.depositphotos.com/1007388/2516/i/950/depositphotos_25163561-stock-photo-pink-grunge-texture-or-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    @media screen  and (max-width: width 1080px){
        display: none;
        .nav-links{
            width: 100%;
        }    
    }
    @media screen  and (max-width: width 768px){
        .servicesPage{
        overflow: hidden;
        }
        .nav-links{
            position:absolute;
            right: 0px;
            height: 92px;
            top: 8vh;
            background-color:rgb(80, 47, 80);
            display: flex;
            align-items: center;
            width: 50%;
            transform: translate(100%);
        }  
        .nav-link li{
            opacity: 0;
        }  
        .burger{
            display: block;
        }
    }
}