.servivesbarbershop{
    background-image: url(https://lh3.googleusercontent.com/proxy/kbV8UKWcGrG14HvB7HG1LkLnEDJ9N4MREERV1l1yHZPlHUOxypUtNMktM4QvG1Jg3w5HQYCA_OI05hq33_vRObOhNwi9TSK317unC9z-UKJ47aZx8HcGQZ64flmlETdumw);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(67, 45, 88);
    padding: 9%;
}