.servivesbarbershop{
    background-image: url(https://image.freepik.com/free-photo/barber-shop-equipment-black-background-with-place-text-professional-hairdressing-tools-comb-scissor-clippers-hair-trimmer-isolated_109529-327.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(201, 132, 196);
    img{
        width: 350px;
        height: 350px;
    }

}